In [6]:
import pandas as pd

In [7]:
data = pd.read_excel("employee_data.xlsx")
print(data)

   EMPID   AGE GENDER   SALARY
0      1  20.0      M  20000.0
1      2  34.0    NaN  30000.0
2      3  19.0      M  40000.0
3      4  20.0      F  20000.0
4      1   NaN      M      NaN

In [10]:
# New coloumns Bonous create if the salary is above 20000 then we add bonous otherwise no bonous in the Bonous column
data.loc[(data["SALARY"] == 20000), "Bonus"] = "No Bonus"
data.loc[(data["SALARY"] > 20000), "Bonus"] = 1200
data.loc[pd.isna(data["SALARY"] ), "Bonus"] = "Invalid" #NaN value then bonous is invalid
print(data)

   EMPID   AGE GENDER   SALARY     Bonus  Total
0      1  20.0      M  20000.0  No Bonus    NaN
1      2  34.0    NaN  30000.0      1200    NaN
2      3  19.0      M  40000.0      1200    NaN
3      4  20.0      F  20000.0  No Bonus    NaN
4      1   NaN      M      NaN   Invalid    NaN

C:\Users\jagji\AppData\Local\Temp\ipykernel_16416\1360678491.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'No Bonus' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.loc[(data["SALARY"] == 20000), "Bonus"] = "No Bonus"

In [11]:
# Convert columns to numeric, setting errors='coerce' will turn non-numeric values to NaN
data["SALARY"] = pd.to_numeric(data["SALARY"], errors='coerce')
data["Bonus"] = pd.to_numeric(data["Bonus"], errors='coerce')
data["Total"] = data["SALARY"] + data["Bonus"]
print(data)

   EMPID   AGE GENDER   SALARY   Bonus    Total
0      1  20.0      M  20000.0     NaN      NaN
1      2  34.0    NaN  30000.0  1200.0  31200.0
2      3  19.0      M  40000.0  1200.0  41200.0
3      4  20.0      F  20000.0     NaN      NaN
4      1   NaN      M      NaN     NaN      NaN