In [1]:
import pandas as pd

In [10]:
data_1 = pd.DataFrame({
        "Fruits":["Apple","Banana","Mango","Papaya","Orange"],
        "Amount":[100,200,300,400,90],
        "Quantity":[40,50,30,45,59]
})
print(data_1)
print()
data_2 = data_1.copy()
# Changes some value of data_2
data_2.loc[0,"Amount"]=200
data_2.loc[1,"Amount"]=300
data_2.loc[3,"Amount"]=80

data_2.loc[0,"Quantity"]=30
data_2.loc[1,"Quantity"]=46
data_2.loc[2,"Quantity"]=80
data_2.loc[3,"Quantity"]=71

print(data_2)

   Fruits  Amount  Quantity
0   Apple     100        40
1  Banana     200        50
2   Mango     300        30
3  Papaya     400        45
4  Orange      90        59

   Fruits  Amount  Quantity
0   Apple     200        30
1  Banana     300        46
2   Mango     300        80
3  Papaya      80        71
4  Orange      90        59

In [13]:
# Compare two DataFrames
print(data_1.compare(data_2,align_axis=0))  # by default align_axis=1

         Amount  Quantity
0 self    100.0      40.0
  other   200.0      30.0
1 self    200.0      50.0
  other   300.0      46.0
2 self      NaN      30.0
  other     NaN      80.0
3 self    400.0      45.0
  other    80.0      71.0

In [ ]:
print(data_1.compare(data_2,