In [2]:
import pandas as pd

In [4]:
data = pd.read_csv("score.csv")
# Default value of head and tail is 5.
print(data.head(10)) 
print(data.tail(10))

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25
    Hours  Scores
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

In [6]:
# provide all the information about the data file
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Hours   25 non-null     float64
 1   Scores  25 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 532.0 bytes
None

In [7]:
#The data.describe() function in pandas, a popular data analysis library in Python, is used to generate descriptive statistics of a DataFrame or a Series.
data.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

In [10]:
# Find whether the data set have null value or not
# print(data.isnull()) # sow true if a null value is present otherwise show false.It shows the entire data set which is little bit lengthy
print(data.isnull().sum())

Hours     0
Scores    0
dtype: int64