In [17]:
import pandas as pd
import numpy as np

In [18]:
data = pd.read_excel("employee_data.xlsx")
print(data)   # NaN stands for Not a Number and it is a empty value

   EMPID   AGE GENDER   SALARY
0      1  20.0      M  20000.0
1      2  34.0    NaN  30000.0
2      3  19.0      M  40000.0
3      4  20.0      F  20000.0
4      1   NaN      M      NaN

In [19]:
# Check the NaN or null value in data set
print(data.isnull().sum())

EMPID     0
AGE       1
GENDER    1
SALARY    1
dtype: int64

In [20]:
#Drop or remove the NaN or null value(but you use this operation if the situation is demanding otherwise not)
print(data.dropna())

   EMPID   AGE GENDER   SALARY
0      1  20.0      M  20000.0
2      3  19.0      M  40000.0
3      4  20.0      F  20000.0

In [21]:
#Replace Nan or null values and this process is not appropriate to update the value of individuals but it effective when all nan values replace with same value.
print(data.replace(np.nan,"Hi"))

   EMPID   AGE GENDER   SALARY
0      1  20.0      M  20000.0
1      2  34.0     Hi  30000.0
2      3  19.0      M  40000.0
3      4  20.0      F  20000.0
4      1    Hi      M       Hi

In [23]:
# Replace nan or null values with choosed or individual column
salary = data["SALARY"].mean() # using this method to replace data if the data is not given to insert in nan position
data["SALARY"] = data["SALARY"].replace(np.nan,salary)
data["GENDER"] = data["GENDER"].replace(np.nan,"F")
data["AGE"] = data["AGE"].replace(np.nan,45)
print(data)

   EMPID   AGE GENDER   SALARY
0      1  20.0      M  20000.0
1      2  34.0      F  30000.0
2      3  19.0      M  40000.0
3      4  20.0      F  20000.0
4      1  45.0      M  28000.0

In [28]:
# Backward fill and forward fill
print(data.fillna(method="bfill"))
print(data.fillna(method="ffill"))

   EMPID   AGE GENDER   SALARY
0      1  20.0      M  20000.0
1      2  34.0      F  30000.0
2      3  19.0      M  40000.0
3      4  20.0      F  20000.0
4      1  45.0      M  28000.0
   EMPID   AGE GENDER   SALARY
0      1  20.0      M  20000.0
1      2  34.0      F  30000.0
2      3  19.0      M  40000.0
3      4  20.0      F  20000.0
4      1  45.0      M  28000.0

C:\Users\jagji\AppData\Local\Temp\ipykernel_12480\2444971311.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method="bfill"))
C:\Users\jagji\AppData\Local\Temp\ipykernel_12480\2444971311.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(data.fillna(method="ffill"))