In [5]:
import pandas as pd

In [28]:
data_1 =pd.DataFrame({
    "EMPID":["E01","E02","EO3","E04","E05","E06"], 
    "Name":["a","b","c","d","e","f"],
    "Age":[20,23,24,19,29,35]
})
 
data_2 =pd.DataFrame({
    # "EMPID":["E01","E02","EO3","E04","E08","E06"], 
    "EMPID":["E01","E07","EO3","E04","E08","E06"], 
    "Salary":[20000,23000,24000,19090,29000,35100]
})

print(data_1)
print()
print(data_2)

  EMPID Name  Age
0   E01    a   20
1   E02    b   23
2   EO3    c   24
3   E04    d   19
4   E05    e   29
5   E06    f   35

  EMPID  Salary
0   E01   20000
1   E07   23000
2   EO3   24000
3   E04   19090
4   E08   29000
5   E06   35100

In [17]:
# Merge two data sets on the basis of unique coloumn .The common values of unique coloumn is always merge using merge function.
print(pd.merge(data_1,data_2, on = "EMPID"))

  EMPID Name  Age  Salary
0   E01    a   20   20000
1   EO3    c   24   24000
2   E04    d   19   19090
3   E06    f   35   35100

In [25]:
# Inner join is also known as merge.
print(pd.merge(data_1,data_2,on="EMPID",how="inner"))

  EMPID Name  Age  Salary
0   E01    a   20   20000
1   EO3    c   24   24000
2   E04    d   19   19090
3   E06    f   35   35100

In [22]:
# Left Join
# print(pd.merge(left=data_1, right=data_2, on="EMPID",how="left"))  basic way of left join
print(pd.merge(data_1,data_2,on="EMPID",how="left"))

  EMPID Name  Age   Salary
0   E01    a   20  20000.0
1   E02    b   23      NaN
2   EO3    c   24  24000.0
3   E04    d   19  19090.0
4   E05    e   29      NaN
5   E06    f   35  35100.0

In [23]:
#Right Join
#print(pd.merge(left=data_1, right=data_2 ,on="EMPID",how="right"))  basic way of right join
print(pd.merge(data_1,data_2,on="EMPID",how="right"))

  EMPID Name   Age  Salary
0   E01    a  20.0   20000
1   E07  NaN   NaN   23000
2   EO3    c  24.0   24000
3   E04    d  19.0   19090
4   E08  NaN   NaN   29000
5   E06    f  35.0   35100

In [26]:
# Concate- two data sets must be similar
data_1 =pd.DataFrame({
    "EMPID":["E01","E02","EO3","E04","E05","E06"], 
    "Name":["a","b","c","d","e","f"],
    "Age":[20,23,24,19,29,35]
})
 
data_2 =pd.DataFrame({
     "EMPID":["E07","E08","EO9","E10","E11","E12"], 
     "Name":["g","h","i","j","k","l"],
     "Age":[21,24,20,18,40,50]
})

print(data_1)
print()
print(data_2)

  EMPID Name  Age
0   E01    a   20
1   E02    b   23
2   EO3    c   24
3   E04    d   19
4   E05    e   29
5   E06    f   35

  EMPID Name  Age
0   E07    g   21
1   E08    h   24
2   EO9    i   20
3   E10    j   18
4   E11    k   40
5   E12    l   50

In [27]:
print(pd.concat([data_1,data_2]))

  EMPID Name  Age
0   E01    a   20
1   E02    b   23
2   EO3    c   24
3   E04    d   19
4   E05    e   29
5   E06    f   35
0   E07    g   21
1   E08    h   24
2   EO9    i   20
3   E10    j   18
4   E11    k   40
5   E12    l   50